body{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210803/pngtree-modern-simple-elegant-dark-blue-landing-page-website-background-image_756950.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;

    
}
.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 800px;
    width: 90%;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.card h2, .card h3 {
    color:green;
    margin-bottom: 15px;
}

.card p {
    color: #555;
    line-height: 1.6;
    font-size: 1rem;
}

h2{
    color:green;
    text-decoration:underline ;
}
h3{
    color: green;
    text-decoration: underline;
}
h4{
    color: white;
}

