body {
    background-image: url('https://st2.depositphotos.com/18433260/46413/i/450/depositphotos_464134238-stock-photo-training-webinar-business-internet-technology.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    text-align: center;
    
}

h2{
    color: black;
    text-decoration: underline;
    padding-top: 20px;
}


h3{
    color: black;
    text-decoration: underline;
}
p{
    color: white;
}
ul{
    color:white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: rgba(0,0,0, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 200px;
    transition: transform 0.2s;
    text-decoration: none;
    color: #000;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #2c3e50;
}
.pdfs{
    display: flex;
    text-align: start;
    padding-left: 10px;
    padding-top: 20px;
}
